* {
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #d4a7a7;
    height: 250px;
    position: sticky; /*fija el elemento mientras que los demás se les conserva el efecto scroll*/
    top: 0px;
    z-index: 2; /*accede a las capas*/
}

main {
    background-color: #a5e4d1;
}

footer {
    background-color: #757575;
}

img {
    width: 30%;
}

#enchiladas {
    width: 60%;
    border: 5px rgb(75, 107, 71) ridge;
    position: relative;
    left: 20%;
    top: 10px;
}

.redes {
    position: relative;
    width: 2%;
    left: 110rem;
}

#titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    font-weight: 600;
    color: azure;
    position: absolute; 
    left: 200px;
    top: 50px; /*lo empuja hacia abajo*/
}

#menu {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 82%;
    top: 85px;
}

#subtitulo-helado {
    font-family: "Goldman", sans-serif;
    color:#720404;
    font-size: 60px;
    position: relative;
    top: 10px;
    text-align: center;
}

.subtitulo {
    font-family: "Lobster Two", sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    border: 15px rgb(175, 145, 145) ridge;
    padding: 20px;
    width: 32%;
    border-radius: 30px;
    position: relative;
    left: 1rem;
    top: 10px;
}

#ingredientes {
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  border: 5px green solid;
  padding: 24px;
  width: 30%;
  border-radius: 40px;
  /* margin: 5px 0; */
  position: relative;
  top: 1rem;
  left: 3rem;
  margin-bottom: 20px;
}

#preparacion {
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  border: 5px green solid;
  padding: 28px;
  width: 30%;
  border-radius: 40px;
  /* margin: 5px 0; */
  position: relative;
  top: 1rem;
  left: 3rem;
  margin-bottom: 30px;
}
/*default:16px*/

#logo {
    position: relative;
    width: 70px;
    right: 120px;
    top: 20px;
}

.boton {
    position: relative;
    left: 90%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    bottom: 10px;
}  

.boton:hover {
    cursor: pointer;
}

/* DESCRIPCION GENERAL */

#descripcion {
    /* position: relative; */
    padding: 20px;
    /* right: 50rem; */
    margin-left: 20%;
    font-size: 20px;
}

#descripcion a {
    position: relative;
    margin-left: 30%;
}

#enlace {
    /* color: aliceblue; */
    position: relative;
    left: 45%;
    bottom: 10px;
    font-size: 30px;
    color: rgb(61, 117, 139);
}

/* FOOTER */
.enlaces {
    /* position: relative; */
    top: 15px;
}

.derechos {
    position: relative;
    bottom: 20px;
    margin-left: 100px;
}

/* icons */
#corazon {
    width: 70px;
    position: relative;
    bottom: 2100px;
    left: 100px;
}

#mensaje {
    width: 70px;
    position: fixed; /*se queda fijo aunque se mueva el scroll*/
    right: 70px;
    bottom: 100px;
}

#mensaje:hover {
    cursor: pointer;
}